html,
body{
  height: 100%;
}

body{
  @extend %rubik-400;
  color: $title;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 1172px;
  margin: 0 auto;
}


a{
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  color: $link;
}


.top{
  background-color: #edf1f4;
  padding: 32px 0;
}


.breadcrumbs{
  &__title{
  text-align: center;
  font-size: 36px;
  line-height: 24px;
  color: #222933;
  @extend %rubik-400;
  margin-bottom: 5px;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    position: relative;
    margin-right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #222933;
    @extend %rubik-400;
    &::after{
      position: absolute;
      content: '/';
      width: 7px;
      color: #737980;
      height: 12px;
      background-image: url();
      top: 5px;
      left: 45px;
    }
    &:last-child{
      &::after{
        display: none;
      }
    }
  }



}

