@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list a {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }

  &__list-item--active::after {
    content: '+';
    color: #436372;
  }

  &__list-item+.menu__list-item {
    margin-left: 34px;
  }
}

.user-nav {
  display: flex;

  &__link {
    padding: 21px 20px 0px;
    background-color: $button;
    border-radius: 50%
  }

  &__choice {
    margin-left: 20px;
    margin-right: 18px;
    display: flex;
    padding: 0 12px;
    background-color: #fcd7b6;
    border-radius: 50px;
    position: relative;
  }

  &__choice::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #fff;
    opacity: .5;
    left: 92px;
    top: 10px;
  }

  &__num {
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    color: $title;
    top: 14px;
  }

  &__num-one {
    left: 55px;
  }

  &__num-two {
    right: 33px;
  }

  &__choice-link {
    padding: 21px 30px 12px;
  }

  &__button {
    padding: 18px;
    border: none;
    border-radius: 50%;
    background-color: $button;
    cursor: pointer;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 75px;
  border-bottom: 1px solid $button;

  &__item-contact {
    width: 195px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__adress,
  &__phone,
  &__email {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
  }

  &__nav {
    width: 132px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    @extend %dmsans-700;
    margin-top: 15px;
    text-transform: uppercase;
    margin-bottom: 26px;
  }

  &__list-item {
    margin-bottom: 8px;
  }

  &__text {
    width: 242px;
    font-size: 14px;
    line-height: 24px;
    color: $link;
    margin-bottom: 38px;
  }

  &__item-submit {
    margin-right: 67px;
    width: 270px;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    border: none;
    padding: 15px;
    background-color: rgb(252, 215, 182, .3);

  }

  &__form-btn {
    padding: 15px 20px 15px 12px;
    background-color: $button;
    color: #fff;
    border: none;

  }

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__link {
    padding: 0 15px;
    line-height: 16px;
  }

  &__link+.footer-bottom__link {
    border-left: 1px solid $button;
  }
}

.top-slider {
  &__inner {
    background-image: url('../images/slider-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    display: flex !important;
    justify-content: center;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
    margin-bottom: 40px;
  }



  &__text {
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 42px;
  }

  &__content {
    padding-top: 225px;
    padding-right: 120px;
  }

  &__link {
    padding: 24px 100px 24px 26px;
    background-color: $button;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    @extend %rubik-500;
    position: relative;
    margin-bottom: 208px;

  }

  &__link::before {
    content: "";
    position: absolute;
    background-image: url('../images/button-arrow.svg');
    height: 9px;
    width: 22px;
    left: 144px;
    top: 25px;
  }

  &__img {
    margin-top: 95px;
    max-height: 630px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    margin-bottom: 46px;
    margin-left: 12px;

    button {
      font-size: 11px;
      line-height: 9px;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      border: none;
      background-color: #fff;
      opacity: .5;
    }

    &.slick-active {
      background-color: #fff;
      opacity: 100%;
      border-radius: 50%
    }
  }
}

.product {
  padding-bottom: 100px;

  &__items {
    display: flex;
    margin-bottom: 36px;
  }

  &__item {
    padding: 46px 0 0 224px;
    background-color: #fef7f0;
    width: 591px;
    position: relative;
    height: 170px;
  }

  &__item-time::before,
  &__item-bigcar::before,
  &__item-keys::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-time::before {
    height: 49px;
    width: 49px;
    top: 51px;
    left: 152px;
    background-image: url('../images/icons/time.svg');
  }

  &__item-bigcar {
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }


  &__item-bigcar::before {
    height: 37px;
    width: 55px;
    top: 55px;
    left: 134px;
    background-image: url('../images/icons/big-car.svg');
  }

  &__item-keys::before {
    height: 52px;
    width: 55px;
    top: 46px;
    left: 140px;
    background-image: url('../images/icons/keys.svg');
  }

  &__item-title {
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-700;
  }

  &__item-text {
    max-width: 200px;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dmsans-400;

  }

}


.menu-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  transition: all .5s;
  margin-bottom: 80px;

  button {
    background-color: transparent;
    border: none;
    margin-left: 30px;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    cursor: pointer;
  }

  button:hover {
    color: #1a1a1a;
  }

}

.product-info {
  text-align: center;

  &__title {
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
  }

  &__content {
    transition: all .5s;
    margin: 0 auto;
    display: grid;
    max-height: 800px;
    max-width: 1172px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 186px;
  }

  &__content-item {
    &:hover {
      .product-info__images {
        opacity: 1;
      }
    }

    transition: all .3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 380px;
    border-radius: 10px;
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));
  }

  &__content-img {
    margin-top: auto;
  }

  &__content-title {
    margin: 56px 0 -10px;
    font-size: 16px;
    line-height: 40px;
    color: $title;
    @extend %dmsans-500;
  }

  &__price {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 40px;
    color: $button;
    @extend %dmsans-700;
  }

  &__images {
    opacity: 0;
    position: absolute;
    top: 190px;
  }

  &__content-link {
    .shp0 {
      transition: all .5s;
    }

    &:hover {
      background-color: $button;

      .shp0 {
        fill: #fff;
      }
    }

    margin-left: 16px;
    padding: 12px 12px 0 12px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center
  }
}

.product-add {
  display: flex;

  &__item {
    position: relative;
    min-height: 390px;
    width: 870px;
    background-color: #feefe2;
    padding: 85px 144px 82px 430px;
  }

  &__item+.product-add__item {
    margin-left: 30px;
  }

  &__item-left::before,
  &__item-right::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item-left::before {
    background-image: url('../images/light-left.png');
    height: 405px;
    width: 234px;
    top: -89px;
    left: 192px;
  }

  &__item-right::before {
    background-image: url('../images/light-right.png');
    height: 402px;
    width: 222px;
    left: 153px;
    top: -88px;
  }

  &__item-title {
    font-size: 26px;
    line-height: 32px;
    color: $title;
    @extend %dmsans-700;
    margin-bottom: 15px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: $title;
    @extend %rubik-400;
    margin-bottom: 32px;
    width: 332px;
  }

  &__item-link {
    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/add-arrow.svg');
      background-repeat: no-repeat;
      height: 9px;
      width: 22px;
      right: 19px;
      top: 24px;
    }

    position: relative;
    border: 1px solid #436372;
    border-radius: 5px;
    padding: 22px 84px 22px 18px;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;

  }
}

.video-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url('../images/popup-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -708px;
  height: 500px;

  &__link {
    margin: 0 auto;

  }
}


.design {
  padding: 45px 0 110px;
  text-align: center;
  margin: 0 auto;

  &__title {
    font-size: 36px;
    color: #1a1a1a;
    @extend %dmsans-700;
  }

  &__content {
    margin: 0 auto;
    display: grid;
    max-width: 1170px;
    height: 528px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fr);
    grid-gap: 35px 22px;
    margin-bottom: 120px;
  }

  &__item-bed {
    background-position: bottom 30px left 92px;
  }

  &__item-chair {
    background-position: top 45px left 196px;
  }

  &__item {
    background-repeat: no-repeat;

    width: 370px;
    height: 246px;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 37px 0 0 34px;
    text-align: left;
  }

  &__item-title {
    font-size: 20px;
    color: #1a1a1a;
    @extend %dmsans-700;
    margin-bottom: 16px;
  }

  &__item-size {
    font-size: 16px;
    color: $button;
    @extend %dmsans-700;
  }
}


.container__articles {
  max-width: 1170px;
}

.articles {
  padding: 0px 0 43px;
  background-image: url(../images/articles-bg.png);
  background-repeat: no-repeat;
  background-position: top 414px center;
  background-size: cover;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    font-size: 36px;
    color: #1a1a1a;
    @extend %dmsans-700;
  }

  &__link {
    font-size: 16px;
    color: #262626;
    @extend %dmsans-700;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__item {
    background-color: #fff;
    width: 370px;
    height: 430px;
    border-radius: 5px;
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));
    position: relative;

    &::before {
      position: absolute;
      content: 'NEWS';
      width: 103px;
      height: 30px;
      border-radius: 15px;
      padding: 5px 30px 5px;
      background-color: #a3bbc8;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      @extend %dmsans-700;
      top: 232px;
      left: 28px;

    }
  }

  &__item-info {
    height: 170px;
    padding: 34px 28px 0px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    height: 250px;
    object-fit: cover;
  }

  &__text {
    font-size: 18px;
    color: #262626;
    @extend %dmsans-500;
    max-width: 316px;

  }

  &__add-info {
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
  }

  &__author {
    margin-left: 26px;
  }

}

.articles-list {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fef7f0;
}

.login {
  max-width: 470px;
  margin: 0 auto 122px;
  padding-top: 120px;

  &__label {
    display: block;
    margin-bottom: 26px;
  }

  &__input {
    margin-top: 14px;
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 56px;
    padding: 0 15px;
  }

  &__button {
    padding: 22px 199px;
    background-color: $button;
    font-size: 18px;
    color: #fffefe;
    @extend %rubik-500;
    border: none;
    cursor: pointer;
  }

  &__add {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__problem {
    text-align: center;
    margin-top: 30px;

    a {
      font-size: 14px;
      line-height: 24px;
      color: #436372;
      @extend %rubik-400;
    }
  }

  &__addaccount {
    padding: 20px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    max-width: 470px;
    line-height: 16px;
    border: 2px solid $button;
    font-size: 18px;
    color: #243f4d;
    @extend %rubik-500;
    margin-top: 26px;
  }

}



.creative {
  padding: 120px 0;

  &__inner {
    display: flex;
  }

  &__img {
    object-fit: cover;
    width: 570px;
    height: 675px;
    margin-right: 48px;
  }

  &__experience {
    height: 100px;
    margin-top: 80px;
    display: flex;

    span {
      font-size: 140px;
      line-height: 63px;
      color: $button;
      @extend %dmsans-700;
      margin-right: 30px;
    }
  }

  &__list-item {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
  }

  &__title {
    margin-top: 50px;
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 553px;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    padding-bottom: 60px;
  }

  &__items {
    padding-top: 30px;
    border-top: 2px solid #e6eaf0;
    display: flex;
    width: 530px;
    justify-content: space-between;
  }

  &__item {
    padding-right: 25px;
    padding-left: 90px;
    position: relative;

    span {
      display: block;
      font-size: 36px;
      line-height: 38px;
      color: #243f4d;
      @extend %dmsans-700;
      margin-bottom: 7px;
    }
  }

  &__item-list::before,
  &__item-sound::before,
  &__item-medal::before {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
  }

  &__item-list::before {
    background-image: url('../images/list-icon.svg');
    width: 37px;
    height: 38px;
    left: 15px;
    top: 10px;
  }

  &__item-sound {
    border-left: 1px solid $button;
    border-right: 1px solid $button;
  }

  &__item-sound::before {
    background-image: url('../images/sound-icon.svg');
    height: 40px;
    width: 43px;
    left: 17px;
    top: 7px;
  }

  &__item-medal::before {
    background-image: url('../images/medal-icon.svg');
    height: 41px;
    width: 42px;
    left: 17px;
    top: 7px;
  }

}

.info-content {
  padding: 84px 0;
  background-color: $assent;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 18px;
  }

  &__span {
    display: inline-block;
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    color: #243f4d;
    @extend %dmsans-700;
  }

}


.team {
  padding: 120px 0 75px;

  &__inner {
    display: flex;
  }

  &__info {
    max-width: 302px;
    margin-right: 75px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }

  &__item {
    height: 380px;
    width: 370px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 30px;
  }

  &__item-img {
    object-fit: cover;
    height: 318px;
    width: 370px;
  }

  &__item-info {
    display: flex;
    align-items: center;
    position: absolute;
    width: 325px;
    height: 110px;
    box-shadow: (0px 6px 28.5px rgba(37, 37, 37, 0.05));
    background-color: #ffffff;
    bottom: 6px;
    z-index: 10;
    padding: 27px 0 27px 24px;
  }

  &__social-link {
    width: 41px;
    height: 41px;
    background-color: #f3f3f3;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 11px;
  }

  &__social-link+.team__social-link {
    margin-left: 8px;
  }

  &__item-addinfo {
    margin-right: 56px;
  }

  &__item-title {
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
  }

  &__title {
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 32px;
  }

  &__text {
    max-width: 290px;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 40px;
  }

  &__link {
    padding: 11px 60px 11px 16px;
    background-color: $button;
    font-size: 15px;
    color: #fff;
    @extend %dmsans-500;
    border-radius: 5px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/team-arrow.svg');
      height: 11px;
      width: 15px;
      right: 26px;
      top: 21px;
    }
  }

}

.types {
  padding: 112px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__list {
    margin-left: 29px;
    list-style-type: decimal-leading-zero;
    margin-bottom: 75px;
  }

  &__list-item {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 30px;

  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 60px;
  }
}

.types__list-item::marker {
  padding-left: 16px;
}


.shop {
  padding: 120px 0 0;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  &__item {
    margin-bottom: 58px;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    color: #243f4d;
    @extend %dmsans-700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 28px;

    &::after {
      position: absolute;
      content: '';
      height: 3px;
      width: 38px;
      background-color: $button;
      top: 7px;
      right: -50px;
    }
  }
}

.filter-category {
  &__label {
    display: block;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }

  &__img {
    background-image: url('../images/icons/filter-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 12px;
  }

  &__text {
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-500;
  }

  &__checkbox {
    padding: 14px 22px 14px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-line {
  top: 10px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 4px;
}

.irs--flat .irs-handle>i:first-child {
  top: -18px;
  width: 15px;
  height: 15px;
  background-color: $button;
}

.irs--flat .irs-bar {
  top: 10px;
  height: 4px;
  background-color: $button;
}

.filter-price {
  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__label-item {
    font-size: 14px;
    line-height: 43px;
    color: #243f4d;
    @extend %rubik-400;
  }
}

.filter-brand {
  &__label {
    display: block;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__num {
    color: #b7b7b7;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
      color: #243f4d;

      &>.filter-brand__num {
        color: #243f4d;
      }
    }

  }

  &__checkbox {
    padding: 14px 22px 14px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.filter-products {
  &__item {
    display: flex;
    margin-bottom: 25px;
  }

  &__img {
    width: 60px;
    height: 65px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__info-title {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    @extend %rubik-400;
  }

  &__info-num {
    margin-top: 12px;
    display: inline-block;
    font-size: 15px;
    line-height: 27px;
    color: #333333;
    @extend %rubik-400;
  }
}

.jq-ry-container {
  padding: 0 0;
}


.shop-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 135px;
  height: 1642px;
  grid-gap: 40px 30px;
  grid-template-rows: repeat(4, 1fr);
}

.pagination {
  margin: 60px 0 105px;
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 8px;
  }

  &__link {
    display: inline-block;
    margin-top: auto;
    text-align: center;
    padding: 10px 22px;
    border: 1px solid $button;
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
    line-height: 34px;
  }

  &__link--active {
    color: #fff;
    background-color: $button;
    text-align: center;
  }

  &__next {
    padding: 10px 22px;
    border: 1px solid $button;
    font-size: 16px;
    line-height: 34px;
    color: #243f4d;
    @extend %rubik-400;
    margin: 0 8px;
  }
}

.articles-shop {
  background-color: #fef7f0
}


.shop-content {
  &__inner {
    display: block;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 80px;
    margin-left: 40px;
    display: flex;
    width: 850px;

  }

  &__img {
    text-align: center;
    min-width: 340px;
    min-height: 340px;
    display: flex;
    justify-content: center;
  }

  &__info {
    margin-left: 78px;
  }

  &__title {
    font-size: 40px;
    line-height: 35px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 25px;
  }

  &__price {
    margin: 25px 0 20px;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    @extend %rubik-400;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 35px;
  }

  &__btn {
    border: none;
    background-color: $button;
    padding: 16px 50px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    @extend %rubik-400;
    cursor: pointer;
    border-radius: 5px;
  }

  &__btn-add {
    border: none;
    width: 50px;
    height: 50px;
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));
    background-color: transparent;

    &+.shop-content__btn-add {
      margin-left: 10px;
    }
  }

  &__btn--active {
    background-color: $button;

    .shp0 {
      fill: #fff;
    }
  }
}

.product-page {
  padding: 120px 0 45px;
}


.product-item {
  display: flex;
  margin-bottom: 100px;

  &__slide {
    width: 555px;
  }

  &__title {
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    @extend %rubik-400;
  }

  &__star {
    margin-bottom: 32px;
  }

  &__price {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    @extend %rubik-400;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 32px;
  }

  &__btn {
    margin-left: 15px;
  }

  &__btn {
    padding: 18px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: $button;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
  }

  &__form {
    margin-bottom: 56px;
  }

  &__list-item {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
  }

  &__list-text {
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
  }

  &__list-title {
    margin-right: 6px;
  }
}

h3.product-item__title {
  margin-bottom: 30px;

}

.jq-number__field {
  border: 1px solid #a3bbc8;
  width: 148px;
  height: 53px;
  font-size: 25px;
  line-height: 35px;
  position: relative;
}

.product-item__num input {
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  color: #333;
  @extend %rubik-500;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  position: relative;
}

.jq-number {
  padding: 0;
  position: relative;
}

.jq-number__field::after {
  position: absolute;
  content: "";
  height: 53px;
  width: 1px;
  background-color: $button;
  right: 47px;
  bottom: -1;

}

.jq-number__field::before {
  position: absolute;
  content: "";
  height: 53px;
  width: 1px;
  background-color: $button;
  left: 47px;
  bottom: -1;

}



.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);

}

.jq-number__spin.minus {
  left: 20px;
}

.jq-number__spin.plus {
  right: 20px;
}

.jq-number__spin::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 12px;
  height: 1px;
  background-color: #000;
  border: none;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 6px;
  width: 1px;
  height: 12px;
  background-color: #000;
  border: none;
}

.product-slide {
  display: flex;

  &__thumb {
    width: 138px;
    margin-right: 56px;
  }

  &__thumb-item {
    cursor: pointer;
    width: 138px;
    height: 160px;
    margin-bottom: 30px;

    img {
      object-fit: contain;
      width: 138px;
      height: 160px;
    }
  }

  &__big-item {
    margin-top: 62px;
  }
}

.slick-slide {
  width: 140px;
}

.product-deck {
  &__buttons {
    text-align: center;
    margin-bottom: 35px;
  }

  &__btn {
    width: 241px;
    height: 53px;
    border-radius: 5px;
    background-color: #edf1f4;
    border: none;
    font-size: 18px;
    color: #243f4d;
    @extend %rubik-400;

    &+.product-deck__btn {
      margin-left: 13px;
    }
  }

  &__btn--active {
    background-color: $button;
    color: #fff;
  }

  &__btn-desc.product-deck__btn--active {

    &__addit,
    &__rev {
      display: none;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
  }
}



.product-info__content-item.details-slider {
  &__item {
    img {
      margin: auto auto 0;
    }

    box-shadow:(0px 6px 25px rgba(37, 37, 37, 0.05));
    text-align: center;
    margin-left: 10px;
    width: 270px !important;
    height: 380px;
    border-radius: 10px;
    box-shadow: (0px 6px 25px rgba(37, 37, 37, 0.05));

  }
}

.product-info__images {
  left: 30px;
}

.details-slider {
  margin-bottom: 100px;

  &__inner .slick-next {
    &:hover {
      border-color: $button;
    }

    right: 0;
    top: -81px;
  }

  &__inner .slick-prev {
    &:hover {
      border-color: $button;
    }

    right: 70px;
    top: -81px;
  }

  &__title-title {
    font-size: 36px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 65px;
  }

  &__item.product-info__images {
    left: 31px;
  }

  &__inner .slick-arrow {
    cursor: pointer;
    position: absolute;

    img {
      display: inline-block;
    }

    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #edf2f4;
    background-color: transparent;
  }

  &__img {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
  }

  &__title {
    margin-top: 261px;
  }
}

.blog {
  padding: 120px 0 0;

  &__inner {
    display: flex;
  }
}

.blog-content {
  width: 830px;
  margin-right: 68px;
  padding-bottom: 50px;

  h2 {
    font-size: 36px;
    line-height: 26px;
    color: #333333;
    @extend %rubik-400;
  }

  h4 {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }

  .blog-one__text {
    font-size: 16px;
    line-height: 27px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 38px;
  }

  blockquote {
    background-color: #edf1f4;
    border-left: 6px solid $button;
    padding: 20px 90px 30px 20px;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    position: relative;
    margin-bottom: 45px;

    span {
      display: block;
      margin-top: 18px;
      padding-left: 42px;
    }

    span::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 3px;
      background-color: $button;
      top: 110px;
      left: 25px;
    }
  }

  img {
    width: 322px;
    height: 207px;
    margin-right: 30px;
  }

  &__img-left {
    float: left;
  }

  &__img-right {
    float: right;
  }

  h5 {
    font-size: 18px;
    line-height: 30px;
    color: #243f4d;
    margin: 70px 0px 28px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    margin-bottom: 50px;
  }

  &__author {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }

  &__item {
    margin-bottom: 50px;
  }

  &__info {
    display: flex;
  }

  .blog-content__box-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 30px;
  }

  .blog-content__img {
    float: none;
    min-width: 828px;
    height: 555px;
    object-fit: cover;
  }

  .blog-content__info-title {
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin: 12px 0 0px;
  }

  .blog-content__info-text {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
    @extend %rubik-400;
    line-height: 10px;
  }

  &__tags {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
    color: #a0a0a0;
    @extend %rubik-400;

    span {
      margin-right: 30px;
      font-size: 16px;
      line-height: 26px;
      color: #333333;
      @extend %rubik-400;
    }
  }

  &__social {
    margin-bottom: 23px;
  }

  &__share {
    span {
      margin-right: 20px;
      font-size: 16px;
      line-height: 26px;
      color: #333333;
      @extend %rubik-400;
    }
  }

  &__share-link {
    margin-right: 24px;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 26px 25px;
    background-color: #a3bbc8;
    width: 280px;
    position: relative;
    margin-top: -82px;
    margin-bottom: 38px;
  }

  &__box-date {
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    margin-right: 12px;
    padding-left: 22px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 13px;
      background-image: url('../images/icons/calendar.svg');
      left: 0;
      top: 8px;

    }
  }

  &__box-author {
    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
    margin-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 4px;
      left: -22px;
      width: 17px;
      height: 19px;
      background-image: url('../images/icons/user-regular.svg');

    }
  }

  &__title {
    font-size: 36px;
    line-height: 26px;
    color: #333333;
    @extend %rubik-400;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    margin-bottom: 35px;
  }

  &__link {
    padding: 20px 86px 20px 20px;
    border: 1px solid #a3bbc8;
    position: relative;
    line-height: 20px;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/arrow-right.png');
      width: 22px;
      height: 9px;
      right: 19px;
      top: 25px;
    }
  }

}

.blog-aside {
  padding-top: 50px;

  &__search {
    margin-bottom: 56px;
  }

  &__search-label {
    display: flex;
    border-radius: 5px;
    border: 2px solid #edf1f4;
  }

  &__search-input {
    width: 220px;
    height: 40px;
    padding: 0 10px;
    border: none;
  }

  &__search-btn {
    border: none;
    background-color: #edf1f4;
    padding: 11px 15px;
  }
}

.blog-pagination {
  justify-content: flex-start;
}

.recent-posts {
  &__item {
    display: flex;
    width: 252px;
    margin-bottom: 24px;
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 7px;
  }

  &__date {
    padding-left: 18px;
    font-size: 12px;
    line-height: 30px;
    color: #9a9a9a;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 13px;
      height: 13px;
      background-image: url('../images/icons/recent-calendar.svg');
      left: 0;
      top: 8px;
    }

  }
}

.comments {
  padding: 60px 0 0px;

  &__title {
    font-size: 24px;
    line-height: 36px;
    color: #436372;
    @extend %dmsans-700;
    margin-bottom: 56px;
  }

  &__item {
    display: flex;
    margin-bottom: 26px;
    padding-bottom: 28px;
    border-bottom: 1px solid #ebebeb;

    &:last-child {
      border: none;
    }

    &.comments__item-subitem {
      margin-left: 128px;
    }
  }

  .comments__img {
    width: 100px;
    height: 100px;
    margin-right: 32px;
    object-fit: cover;
  }

  &__info-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .comments__info-name {
    margin: 0;
    font-size: 16px;
    color: #436372;
    @extend %dmsans-700;
  }

  &__info-date {
    font-size: 14px;
    color: #9e9e9e;
    @extend %rubik-400;
  }

  .comments__info-text {
    margin-bottom: 20px;
  }

  &__info-link {
    font-size: 14px;
    color: #526278;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url('../images/arrow-right.png');
      right: -29px;
      top: 11px;
      width: 22px;
      height: 9px;
    }
  }
}

.comments-form {
  .comments-form__title {
    font-size: 24px;
    line-height: 30px;
    color: #436372;
    margin-bottom: 45px;
    position: relative;
  }

  &__box-input {
    display: flex;
    position: relative;
    margin-bottom: 44px;
  }

  &__text-input {
    width: 400px;
    height: 48px;
    padding: 14px 60px 14px 20px;
    outline: none;
    border: none;
    &::placeholder {
      font-size: 16px;
      line-height: 36px;
      color: #999999;
    }

    &+.comments-form__text-input {
      margin-left: 35px;
    }

    &:focus {
      border-bottom: 1px solid $button;
    }
  }
  &__input-user {
    background-image: url('../images/icons/comment-user.svg');
    background-repeat: no-repeat;
    background-position: bottom 50% right 10px;
  }
  &__input-messenge {
    background-image: url('../images/icons/comment-messenge.svg');
    background-repeat: no-repeat;
    background-position: bottom 50% right 10px;
  }
  &__textarea{
    border: none;
    width: 822px;
    height: 130px;
    padding: 10px 10px 10px 20px;
    resize: none;
    outline: none;
    margin-bottom: 10px;
    &:focus{
      border-bottom: 1px solid $button;
    }
    &::placeholder{
      font-size: 16px;
      line-height: 36px;
      color: #999999;
    }
  }
  &__btn{
    position: relative;
    color: #fff;
    padding: 15px 35px;
    background-color: $button;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    @extend %rubik-400;
    border: none;
    cursor: pointer;
  }
  &__btn-icon{
    background-image: url('../images/icons/comment-icon.svg');
    background-repeat: no-repeat;
    background-position: right 9px bottom 79%;
  }
}


.contact{
  padding: 90px 0 120px;
  &__text{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #a3bbc8;
    margin-bottom: 14px;
  }
  &__title{
    text-align: center;
    font-size: 35px;
    line-height: 57px;
    color: #436372;
    @extend %dmsans-700;
    margin-bottom: 70px;
  }
  &__items{
    display:flex;
    margin-bottom: 120px;
  }
  &__item-box{
    margin: 0 auto 60px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow:(0px 6px 28.5px rgba(37, 37, 37, 0.05));
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    height: 382px;
    width: 370px;
    background-color: #fbfbfb;
    padding: 70px 10px 30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    span{
      display: block;
    }
    a{
      font-size: 16px;
      line-height: 30px;
      color: #565872;
      @extend %rubik-400;
    }
    &+.contact__item{
      margin-left: 30px;
    }
  }
  &__item-title{
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    @extend %dmsans-700;
  }
  &__info{
    display: flex;
  }
  &__form{
    width: 622px;
    margin-right: 50px;
  }
  &__textarea{
    width: 622px;
  }
  #map{
    height: 335px;
    width: 500px;
  }
}





@import 'media';